.about {
	color: $white;
	> .flex {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.profile-left {
	width: 30%;
	&.flex {
		flex-direction: row;
		justify-content: space-between;
		@include media($mq-small) {
			justify-content: center;
		}
	}
	img {
		width: 100%;
		margin-bottom: 20px;
		border: 3px solid $primary-light;
		box-sizing: border-box;
		box-shadow: $shadow-1;
		transition: all 0.3s;
		@include media($mq-small) {
			width: 75%;
		}
	}
	.profile-left-fact {
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		padding: 10px;
		margin-bottom: 10px;
		background-color: $primary-light;
		box-sizing: border-box;
		h3 {
			color: $primary;
		}
		p {
			color: $primary-dark;
			&:nth-child(3) {
				font-style: italic;
				font-size: .9em;
			}
		}
		@include media($mq-small) {
			width: 100%;
		}
	}
	@include media($mq-small) {
		width: 100%;
		margin-bottom: 30px;
	}
}

.profile-right {
	width: 65%;
	h3 {
		width: 100%;
		margin-bottom: 20px;
		color: $primary-light;
	}
	p {
		line-height: 1.5em;
		margin-bottom: 20px;
		&:last-of-type {
			margin-bottom: 30px;
		}
	}
	.profile-skills {
		width: 100%;
		justify-content: space-between;
		color: $primary-light;
		padding: 30px 0;
		margin-bottom: 25px;
		box-sizing: border-box;
//		border: 2px solid $primary-light;
		h3 {
			text-align: center;
			margin-bottom: 10px;
		}
		article {
			width: 15%;
			flex-direction: column;
			margin-top: 20px;
			i {
				font-size: 3em;
			}
			p {
				font-style: italic;
				margin-bottom: 0;
			}
			@include media($mq-small) {
				width: 25%;
			}
		}
	}
	@include media($mq-small) {
		width: 100%;
	}
}
