.work {
	color: $white;
	> .flex {
		flex-direction: row;
		justify-content: space-between;
	}
	@include media(1000px) {
		.work-card {
			width: 48%;
		}
	}
	@include media($mq-small) {
		> .flex {
			justify-content: center;
		}
		.work-card {
			width: 100%;
		}
	}
}