.background {
	z-index: -1;
	background-color: $white;
	position: absolute;
	left: 0;
	height: 300%;
	width: 100%;
	display: block;
	transition: all 1s ease-in-out;
	.bg-screen {
		width: 100%;
		height: 100vh;
		transition: height 1s ease-in-out;
		&:nth-child(1) {
			background: $primary;
			@include media($mq-small) {
				height: 110vh;
			}
		}
		&:nth-child(2) {
			background: linear-gradient(to bottom, $primary-light, $secondary);
			@include media($mq-small) {
				height: 80vh;
			}
		}
		&:nth-child(3) {
			background: $secondary;
			@include media($mq-small) {
				height: 110vh;
			}
		}
		&.contact-active {
//			&:nth-child(1) {
//				height: 100vh;
//			}
//			&:nth-child(2) {
//				height: 100vh;
//			}
//			&:nth-child(3) {
//				height: 100vh;
//			}
		}
	}
	.bg-elements {
		position: absolute;
		left: 0;
		width: 100%;
		transition: transform 1s ease-in-out;
		&.bg-clouds {
			top: 100vh;
			&.contact-active {
				transform: translateY(-10vh);
			}
			img {
				position: absolute;
				top: 0;
				animation-timing-function: ease-in-out;
				&:nth-child(1) {
					right: -2vw;
					width: 75vw;
//					animation: cloud-move-r 5s infinite .5s;
				}
				&:nth-child(2) {
					left: -2vw;
					width: 67vw;
//					animation: cloud-move-l 4s infinite .5s;
				}
				&:nth-child(3) {
					right: -2vw;
					width: 60vw;
//					animation: cloud-move-r 6s infinite;
					@include media($mq-small) {
						display: none;
					}
				}
				&:nth-child(4) {
					left: -2vw;
					width: 41vw;
//					animation: cloud-move-l 7s infinite .25s;
					@include media($mq-small) {
						display: none;
					}
				}
				&:nth-child(5) {
					left: 25vw;
					width: 48vw;
//					animation: cloud-move-l 5s infinite .75s;
					@include media($mq-small) {
						display: none;
					}
				}
				&:nth-child(6) {
					right: -2vw;
					width: 42vw;
//					animation: cloud-move-r 7s infinite .75s;
					@include media($mq-small) {
						display: none;
					}
				}
				&:nth-child(7) {
					top: -2px;
					left: -2vw;
					width: 34vw;
//					animation: cloud-move-l 8s infinite 3s;
				}
				&:nth-child(8) {
					top: -2px;
					right: -2vw;
					width: 34vw;
//					animation: cloud-move-r 9s infinite .25s;
				}
				&:nth-child(9) {
					top: -2px;
					left: 30vw;
					width: 40vw;
//					animation: cloud-move-l 9s infinite;
				}
			}
			@include media($mq-small) {
				top: 110vh;
				&.contact-active {
//					transform: translateY(-50vh);
					transform: none;
				}
			}
		}
		&.bg-mountains {
			top: 200vh;
			&.contact-active {
				img {
					transform: translateY(10vh);
				}
			}
			img {
				position: absolute;
				bottom: 0;
				left: -5vw;
				width: 110vw;
				transition: transform 1s ease-in-out;
				&:nth-child(1) {
					left: -2vw;
					width: 104vw;
				}
				&:nth-child(4) {
					bottom: -1px;
				}
			}
			@include media($mq-small) {
				top: 190vh;
				&.contact-active img {
//					transform: translateY(45vh);
					transform: none;
				}
			}
		}
	}
	&.bg-home,
	&.bg-contact {
		top: -100%;
	}
	&.bg-about {
		top: 0;
	}
	&.bg-work,
	&.bg-casestudy {
		top: -200%;
	}
}

@keyframes cloud-move-l {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(2vw);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes cloud-move-r {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-2vw);
	}
	100% {
		transform: translateX(0);
	}
}
