.content {
	opacity: 0;
	width: 100vw;
	padding: 25px 0;
	box-sizing: border-box;
	height: calc(100vh - 100px);
	animation: fade-in .5s forwards .25s;
	transform: scale(.95);
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	&.content-transition {
		opacity: 1;
		transform: scale(1);
		animation: fade-out .5s forwards;
		pointer-events: none;
	}
}

.home,
.about,
.work,
.contact {
	height: 100%;
}