.header {
	opacity: 0;
	height: 100px;
	animation: header-appear .5s forwards .5s;
	transform: translateY(-30px) rotateX(-60deg);
	> .flex {
		height: inherit;
		justify-content: space-between;
	}
}

.navbar {
	list-style-type: none;
	li {
		font-weight: 500;
		padding: 5px 2px;
		display: inline;
		margin-left: 20px;
		cursor: pointer;
		color: $white;
		transition: all 0.2s;
		font-size: 1.2em;
		&:hover {
			color: $less-white;
			border-bottom: 2px solid $less-white;
		}
	}
	&.nav-active-1 {
		li:nth-child(1) {
			color: $primary-light;
			border-bottom: 2px solid $primary-light;
		}
	}
	&.nav-active-2 {
		li:nth-child(2) {
			color: $secondary-light;
			border-bottom: 2px solid $secondary-light;
		}
	}
	&.nav-active-3 {
		li:nth-child(3) {
			color: $primary-dark;
			border-bottom: 2px solid $primary-dark;
		}
	}
}

.db-logo {
	height: 60px;
	fill: $white;
	cursor: pointer;
	transition: all 0.5s;
//	filter: $filter-shadow-1;
	&:hover {
		animation: db-logo-hover 0.6s forwards;
	}
}

@keyframes header-appear {
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes db-logo-hover {
	20% {
		transform: rotate(-40deg) scale(.9);
	}
	30% {
		transform: rotate(-40deg) scale(.9);
		fill: $white;
//		filter: $filter-shadow-1;
	}
	40% {
		fill: $less-white;
		transform: rotate(20deg) scale(1.1);
//		filter: $filter-shadow-2;
	}
	100% {
		fill: $less-white;
	}
}
