.about {
	padding: 10vh 0;
	background-color: $less-white;
	.flex {
		justify-content: space-around;
		align-items: flex-start;
	}
}

.process {
	.process-card {
		width: 25%;
		.flex {
			width: 100%;
			height: 100%;
			flex-direction: column;
			align-items: center;
		}
		i {
			font-size: 3em;
			margin-bottom: 15px;
		}
		h2 {
			font-style: italic;
			margin-bottom: 20px;
			text-align: center;
		}
		p {
			line-height: 1.5em;
			text-align: center;
		}
	}
}

.skills {
	padding-top: 10vh;
	.flex {
		width: 100%;
	}
	.skills-inner {
		width: 50%;
	}
	.skills-icon {
		width: 15%;
		margin-bottom: 30px;
		.flex {
			width: 100%;
			flex-direction: column;
			align-items: center;
		}
		i {
			font-size: 2.5em;
			margin-bottom: 10px;
		}
		.skills-icon-name {
			font-size: .75em;
		}
	}
}

@media only screen and (max-width: 800px) {
	h3 {
		width: 80%;
	}
}


@media only screen and (max-width: 700px) {
	.process {
		.flex {
			flex-direction: column;
			align-items: center;
		}
		h3 {}
		.process-card {
			width: 80%;
			margin-bottom: 50px;
		}
	}
	.skills {
		width: 100%;
		.skills-inner {
			width: 100%;
		}
		.flex {
			flex-direction: row;
		}
		.skills-icon {
			width: 30%;
		}
	}
}
