.header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 2.5%;
	box-sizing: border-box;
	width: 100%;
	height: 90px;
	z-index: 99;
	background-color: rgba(242, 242, 242, 0);
	transition: 0.3s;
	.flex {
		justify-content: space-between;
		@include break-point(700px) {
			justify-content: center;
		}
	}
	.title-container {
		text-decoration: none;
		width: 50%;
		color: $white;
		&.flex {
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}
		h2 {
			font-size: 1.25em;
		}
		&:hover {
			color: $less-white;
		}
		&.floating {
			color: $black;
			&:hover {
				color: $salmon;
			}
		}
		@include break-point(700px) {
			width: 100%;
			&.flex {
				align-items: center;
			}
		}
	}
	nav {
		ul {
			margin: 0;
			padding: 0;
			li {
				display: inline;
				font-size: 1.25rem;
				margin-right: 25px;
				&:last-child {
					margin-right: 0;
				}
				a {
					text-decoration: none;
					color: $black;
					border-bottom: 2px solid rgba(0, 0, 0, 0);
					padding-bottom: 5px;
					&:hover {
						color: $salmon;
						border-bottom: 2px solid $salmon;
					}
				}
			}
		}
		@include break-point(700px) {
			display: none;
		}
	}
}
