.hero {
	background: linear-gradient(90deg, $green 50%, $white 50%);
	height: 95vh;
	padding: 0;
	.flex {
		flex-direction: column;
		align-items: flex-start;
	}
	h4,
	h5 {
		width: 30%;
		transition: 0.2s;
	}
	h4 {
		margin-left: 51%;
		text-align: left;
		color: $green;
		transform-origin: left;
	}
	h5 {
		margin-left: 19%;
		text-align: right;
		color: $white;
		transform-origin: right;
	}
	a {
		margin: 0 auto;
		margin-top: 10vh;
		&:hover {
			background-color: $green;
		}
	}
	@include break-point(700px) {
		background: $green;
		.flex {
			align-items: center;
		}
		h4,
		h5 {
			color: $white;
			width: 90%;
			margin: 20px 0;
			text-align: center;
		}
		a {
			margin: 5vh 0 -7.5vh 0;
		}
	}
}