/* COLORS */

$white: #f2f2f2;
$less-white: #e5e5e5;
$black: #363636;
$salmon: #fe8a83;
$green: #59b4aa;
$purple: #caaec2;


/* SETTINGS */

body {
	background-color: $white;
	font-family: 'Lato', 'Helvetica', sans-serif;
	font-weight: 300;
	color: $black;
}

.wrap {
	max-width: 1140px;
	width: 95%;
	margin: 0 auto;
}

.flex {
	width: inherit;
	height: inherit;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
}

/* BUTTONS */

.button-primary {
	width: 200px;
	height: 50px;
	background-color: $salmon;
	padding: 0;
	text-align: center;
	padding: 15px;
	box-sizing: border-box;
	text-decoration: none;
	margin: 20px 0;
	color: $white;
	cursor: pointer;
	box-shadow: 0 0 0 10px $white;
	transition: 0.2s;
	&:hover {
		background-color: $green;
	}
}


/* FONTS */

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

h1 {
	font-family: 'Raleway', 'Helvetica', sans-serif;
	font-weight: 900;
	font-size: 2.5rem;
	text-transform: uppercase;
}

h2 {
	font-size: 1.5em;
	font-weight: 300;
	font-style: italic;
}

h3 {
	font-style: italic;
	font-weight: 300;
	padding: 0 20%;
	margin-bottom: 50px;
	width: 100%;
	text-align: center;
	line-height: 1.4em;
}

@media only screen and (max-width:700px) {
	h3 {
		padding: 0 5%;
	}
}

h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	font-weight: 900;
	margin-bottom: 10px;
}

h5 {
	font-style: italic;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.3em;
	span {
		font-weight: 400;
	}
}

p {
	margin: 0;
	line-height: 1.5em;
}