/* FONT STACK */

$titleSize: 1.25rem;

/* COLOR PALETTE */

$white: #f2f2f2;
$less-white: #e5e5e5;
$black: #363636;
$salmon: #fe8a83;
$green: #59b4aa;
$purple: #caaec2;

/* MATERIAL SHADOWS */

$material-1: 0 1px 3px rgba(0, 0, 0, 0.12),
0 1px 2px rgba(0, 0, 0, 0.24);
$material-2: 0 3px 6px rgba(0, 0, 0, 0.16),
0 3px 6px rgba(0, 0, 0, 0.23);
$material-3: 0 10px 20px rgba(0, 0, 0, 0.19),
0 6px 6px rgba(0, 0, 0, 0.23);
$material-4: 0 14px 28px rgba(0, 0, 0, 0.25),
0 10px 10px rgba(0, 0, 0, 0.22);
$material-5: 0 19px 38px rgba(0, 0, 0, 0.30),
0 15px 12px rgba(0, 0, 0, 0.22);

/* FILTER SHADOWS */

$filter-shadow-1: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.34))
