@import "./settings/normalize";
@import "./settings/settings";

@import "./comp/structure/background";
@import "./comp/structure/header";
@import "./comp/structure/content";

@import "./comp/pages/home";

.main-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}